h1{
    font-weight: bolder;
    background-color:#954B4B;
    text-decoration: black;
    border:solid black;
    padding: 1em;
}

a{ text-decoration: none;
color:#954B4B;
font-size: 2em;
font-weight: bolder;}


    


